#top_header {
    background: #0062B8;
    background: linear-gradient(332deg,rgba(0, 98, 184, 1) 0%, rgba(45, 171, 227, 1) 100%);
    color: white;
    padding: 12px;
    padding-left: 23px;
    position: fixed;
    width: 100%;
    z-index: 150;
}

#top_header a {
    color: white;
    text-decoration: none;
}

#top_header a:hover {
    text-decoration: underline;
}

#top_header .nf {
    margin-right: 5px;
}

#splitter {
    margin-right: 12px;
    margin-left: 12px;
}

#site_header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
}

#site_header i.nf-fa-navicon, #nav_icons .nf {
    font-size: 25px;
    color: #525252;
}

#site_header .nf-fa-navicon {
    display: none;
}

#main_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    margin-top: 35px;

}

#windchill_logo {
    height: 60px;
    margin-left: 30px;
}

#nav_tabs {
    display: flex;
    font-size: 15px;
    border-top: 1px solid lightgrey;
    color: #525252;
    align-items: center;
    position: relative;
    background-color: #ececec;
    height: 35px;
}


#nav_tabs > div {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    position: relative;
}

#nav_tabs > div:hover:not(:has(.dropdown_content:hover)) {
    background-color: #d1d1d1;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    font-family: "Sansation", sans-serif;
    /*display: none;*/
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: max-content;
    min-width: 300px;
    background-color: white;
    z-index: 2;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    outline: 1px solid lightgrey;
    color: #525252;
}

.dropdown_content a {
    color: #525252;
    text-decoration: none;
}

.dropdown_content .option {
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown_content .option:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dropdown_content .option:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown_content .option:hover {
    background-color: #bfd0df;
    color: black;
}

.dropdown_content .suboption {
    display: none;
}

#nav_tabs .nf {
    font-size: 15px;
    padding-top: 4px;
}

#nav_icons .nf {
    cursor: pointer;
}

#nav_icons .nf:hover {
    color: #97005E;
}

.tab_clicked {
    background-color: #d1d1d1;
    outline: 2px dotted #97005E;
    z-index: 10;
    color: black;
}

@keyframes rotating {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

.tab_clicked .nf {
    animation: rotating .5s forwards;
}

#nav_icons {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 60px;
    justify-content: end;
}

#nav_icons .nf {
    color: #525252;
}


@media (max-width: 996px) {

    #nav_tabs {
        display: none;
    }
    #site_header .nf-fa-navicon {
        display: block;
        margin-left: 30px;
    }
    #windchill_logo {
        margin-left: 0px;
    }

    #site_header {
        padding-top: 0px;
        padding-bottom: 0px;
    }

}

@media (max-width: 650px) {
    #top_header {
        padding-left: 4vw;
        font-size: 3.5vw;
        padding: 2vw;
    }

    #splitter {
        margin-right: 2vw;
        margin-left: 2vw;
    }

    #windchill_logo {
        height: 14vw;
    }

    #site_header {
        height: 20vw;
    }

    #site_header .nf-fa-navicon {
        margin-left: 4.5vw;
    }

    #site_header i.nf-fa-navicon, #nav_icons .nf {
        font-size: 4.5vw;
    }

    #nav_icons {
        gap: 5vw;
        padding-right: 4vw;
    }
} 