#first_content, #second_content, third_content, h3#third_content_h3, h2#third_content_h3 {
    position: relative;
    z-index: 1;
}

#num1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

#video_div {
    height: 550px;
    width: 45%;
}

#video_div video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

#first_left_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 55%;
    height: 100%;
    padding-left: 10%;
    margin-right: -10%;
    gap: 15px;
}

#main_quote {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}

#main_quote span {
    font-weight: 600;
    color: #0062B8;
}

#sub_quote {
    font-size: 20px;
    width: 600px;
    font-family: "Sansation", sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

#learn_buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-family: "Sansation", sans-serif;
}

#learn_buttons button {
    font-size: 16px;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    padding: 10px;
}

#learn_buttons #contact_button {
    background-color: #0062B8;
    color: white;
}

#learn_buttons #learn_button {
    outline: 1px solid #0062B8;
    color: #0062B8;
}

#next_content {
    width: 100%;
    height: 500px;
    background-color: lightgray;
}

#second_content {
    padding-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: lightgrey;
}

#client_list {
    position: relative;
    display: flex;
    align-items: start;
    gap: 120px;
    width: min-content;
    margin: auto;
    overflow: hidden;
}

#client_list * {
    align-self: center;
    width: 100%;
}


#second_content h2 {
    font-size: 2em;
    position: absolute;
    top: 50px;
    color: black;
    font-family: "Sansation", sans-serif;
    text-transform: capitalize;
}

h3#third_content_h3 {
    font-family: "Sansation", sans-serif;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: none;
    padding: none;
    margin-top: 100px;
    color: black;
}

h2#third_content_h2 {
    text-align: center;
    font-family: "Sansation", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: none;
    padding: none;
    font-size: 2em;
    color: #0062B8;
}


#third_content {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}


#third_content .card {
    font-family: "Sansation", sans-serif;
    width: 350px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    background-color: white;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s ease;
}

#third_content .card:hover {
    transform: scale(1.14);
}

#third_content .card .image_crop_box {
    width: 100%;
    height: 55%;
    overflow: hidden;
    position: relative;
    background-color: white;
    object-fit: cover;
    outline: 1px solid lightgray;
}

#third_content .card .image_crop_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

#third_content .card h3 {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    color: #0062B8;
    text-transform: uppercase;
    padding: 4%;
    margin-top: 0;
    margin-bottom: 0;
}

#third_content .card p {
    font-size: 16px;
    padding: 3%;
    line-height: 1.5;
    text-align: center;
}

#fourth_content {
    margin-top: 200px;
    width: 100%;
    height: 700px;
    background-color: #525252;
}

@media (max-width: 1600px) {
    #first_content { 
        justify-content: space-between;
    }
    #web_links_first {
        flex-basis: 100%;
    }
}

@media (max-width: 1200px) {
    #first_left_content {
        flex-basis: 98%;
    }

    #data_center_video {
        width: 80vw;
        height: auto;
        border-radius: 20px;
    }

    .background_graphic {
        font-size: 100vw;
    }
    
}

@media (max-width: 600px) {
    #main_quote {
        font-size: 12vw;
    }
    #contact_button, #learn_button {
        width: 80%;
        margin-left: 0%;
        height: auto;
    }
    #contact_button:hover, #learn_button:hover {
        width: 90%;
    }
}