#first_content, #second_content, third_content, h3#third_content_h3, h2#third_content_h3 {
    position: relative;
    z-index: 1;
}

#first_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#video_div {
    height: 550px;
    flex: 45;
}

#video_div video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.center_child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 55;
    padding: 1em;
}

#first_left_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 60ch;
    flex-shrink: 1;
    height: 100%;
    gap: 1em;
}

#main_quote {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
}

#main_quote span {
    font-weight: 600;
    color: #0062B8;
}

#sub_quote {
    font-size: 1.3em;
    max-width: 60ch;
    font-family: "Sansation", sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

#learn_buttons {
    display: flex;
    justify-content: space-between;
    max-width: 30em;
    width: 100%;
    font-family: "Sansation", sans-serif;
}

#learn_buttons button {
    font-size: 1em;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    padding: .7em;
}

#learn_buttons #contact_button {
    background-color: #0062B8;
    color: white;
}

#learn_buttons #learn_button {
    outline: 1px solid #0062B8;
    color: #0062B8;
}

#next_content {
    width: 100%;
    height: auto;
    background-color: lightgray;
}

#second_content {
    padding-top: 175px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: lightgrey;
}

#second_content h2 {
    border-bottom: 2px solid #2DABE3;
    padding-bottom: 3%;
}

#client_list {
    position: relative;
    display: flex;
    align-items: start;
    gap: 10%;
    width: min-content;
    margin: auto;
    overflow: hidden;
}

#client_list * {
    align-self: center;
    width: 100%;
}


#second_content h2 {
    font-size: 2em;
    position: absolute;
    top: 50px;
    color: black;
    font-family: "Sansation", sans-serif;
    text-transform: capitalize;
}

#text_content {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    width: 80%;
    padding-right: 10%;
    background-color: #585858;
    color: white;
    font-family: "Sansation", sans-serif;
}

#text_content h3 {
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: none;
    padding: none;
}
#text_content h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: none;
    padding: none;
    color:#2DABE3;
    font-size: 2em;
}

#text_content p {
    line-height: 1.5;
    font-size: 1.1em;
}

#sub_content_flex {
    padding-top: 50px;
    display: flex;
    padding-bottom: 50px;
    gap: 50px;
}

h3.advantage {
    text-align: center;
}

h2.advantage {
    text-align: center;
}


#icon_content_flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    justify-content: space-between;
    margin-top: 75px;
}

#icon_content_flex > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
}

#icon_content_flex img {
    width: 80px;
    background-color: #2DABE3;
    color: white;
    padding: 30px;
    border-radius: 20px;
}

#icon_content_flex p {
    margin-top: 0;
    margin-bottom: 0;
}

#icon_content_flex h4 {
    color: #2DABE3;
    font-size: 1.5em;
    margin: 0;
    margin-top: 50px;
    text-transform: uppercase;
}

#third_content_background {
    position: absolute;
    z-index: -1;
}

#third_content_background2 {
    position: absolute;
    rotate: 180deg;
    bottom: 0;
    right: 0;
    z-index: -1;
}

h3#third_content_h3 {
    padding-top: 100px;
    font-family: "Sansation", sans-serif;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: none;
    padding: none;
    padding-left: 10%;
    color: black;
}

h2#third_content_h2 {
    text-align: left;
    font-family: "Sansation", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: none;
    padding: none;
    padding-left: 10%;
    font-size: 2em;
    color: #0062B8;
}


#third_content {
    position: relative;
}

#third_cards_flex {
    display: flex;
    justify-content: space-between;
    row-gap: 40px;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 170px;
}


#third_content .card {
    font-family: "Sansation", sans-serif;
    width: 350px;
    min-height: 450px;
    height: auto;
    border: 2px solid lightgray;
    background-color: lightgray;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s ease;
}

#third_content .card:hover {
    transform: scale(1.08);
}

#third_content .card .image_crop_box {
    width: 100%;
    height: 248px;
    overflow: hidden;
    position: relative;
    background-color: white;
    object-fit: cover;
    outline: 1px solid lightgray;
}

.image_crop_box img {
    width: 100%;
    height: 248px;
    object-fit: cover;
    object-position: center;
    display: block;
}

#third_content .card h3 {
    font-size: 1.15em;
    font-weight: 800;
    color: #0062B8;
    text-transform: uppercase;
    padding: .5em;
    margin-top: 0;
    margin-bottom: 0;
}

#third_content .card p {
    font-size: 1em;
    padding: .5em;
    line-height: 1.5;
}

#fourth_content {
    padding-top: 200px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 700px;
    background-color: #585858;
    color: white;
    font-family: "Sansation", sans-serif;
}

#fourth_content #cards_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#fourth_content .product_card {
    width: 250px;
}

#fourth_content .image_crop_box {
    width: 100%;
    height: 50%;
}

@media (max-width: 1600px) {

}

@media (max-width: 1100px) {

    #first_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }    

    #video_div {
        width: 90%;
        height: 60%;
    }

    #sub_content_flex {
        flex-direction: column;
        gap: 50px;
    }


}

@media (max-width: 650px) {
    #learn_buttons {
        flex-direction: column;
        gap: 2em;
        width: 100%;
    }

    #icon_content_flex {
        justify-content: center;
        width: 100%;
    }
}