@use "partials/base";
@use "partials/header";
@use "partials/main-heading" with (
    $color-main: base.$windchillYellow
);

@use "partials/contactUs.scss";
@use "partials/footer";

.content_heading {
    background: #ffebc9;
    background: radial-gradient(circle,rgba(255, 235, 201, 1) 0%, rgba(244, 184, 96, 1) 100%);
}


#rigid_second {
    @include base.textStyle($h3-color: white, $h2-color: base.$windchillYellowLight, $p-color: white);
    @include base.sectionDefs();
    background-color: grey;

    & > div {
        display: flex;
        gap: 20px;
    }

    .RW_card {
        text-align: left;
        width: 300px;
        border: 6px solid lightgray;
        position : relative;

        h5 {
            margin: 0;
            padding-top: 1em;
            text-transform: uppercase;
        }

        h4 {
            background-color: base.$windchillBlue;
            color: white;
            margin: 0;
            padding: .4em;
            padding-right: 2em;
            padding-left: 2em;
            position: absolute;
            top:0;
            left: 0;
            margin-top: -6px;
            margin-left: -6px;
            border-bottom-right-radius: 10px;

            &.app {
                background-color: base.$windchillPurple;
            }
        }
        
        h3 {
            margin: 0;
            color: base.$windchillYellowLight;
        }

        /* forgive me for this style */
        & > *:not(div):not(h4) {
            margin: .5rem;
        }

        div {
            width: 100%;
            background-color: grey;

            img {
                height: 215px;
            }
        }
    }
}

@include footer.footerStyle;