<div class="image_crop_background">
    <img src="/img/Handshake_meeting.jpg">
</div>
<div id="contact_about_card">
    <h2>Contact Us</h2>
    <p>We'd love to hear from you! Feel free to reach out to us using any of the following methods.</p>
    <div id="contact_icons">
        <span class="contact_option">
            <img src="/img/phone_WC.svg" class="contact">
            <img src="/img/phone_call_WC.svg" class="contact_hover">
            <div>Call</div>
        </span>
        <span class="contact_option">
            <img src="/img/letter-closed.svg" class="contact">
            <img src="/img/letter-closed1.svg" class="contact_hover">
            <div>Email</div>
        </span>
    
        <span class="contact_option">
            <img src="/img/map-point.png" class="contact">
            <img src="/img/map-point-halo.svg" class="contact_hover">
            <div>Location</div>
        </span>
    </div>
</div>
