<div id="web_map_links">
    <a>Home</a>
    <a>Cold Aisle Containment</a>
    <a>Hot Aisle Containment</a>
    <a>Rigid Containment</a>
    <a>Soft Containment</a>
    <a>Industry Standards</a>
    <a>Install Manuals</a>
    <a>FAQ</a>
    <a>Contact</a>
    <a>About Us</a>
</div>

<div id="footer_center">
    <img id="footer_logo" src="/img/logo.png">
    <div>
        <div>Follow Us:</div>
        <span>
            <a href="https://www.facebook.com/WindChillEng/about/" class="nf nf-fa-facebook_square" style="color: #1778F2"></a>
            <a href="https://www.linkedin.com/company/windchill-engineering/" class="nf nf-fa-linkedin_square" style="color: #0077B5"></a>
        </span>
    </div>
</div>

<div id="info_footer">
    <div id="info_address">
        <span>Headquarters</span>
        <span>435 W Airport Rd</span>
        <span>Heber, UT 84032</span>
        <span>Phone: +1 (801) 494-2098</span>
        <span>FAX: +1 (801) 649-2322</span>
    </div>
</div>