<div id="top_header">
    <i class="nf nf-fa-phone"></i>
    <a href="tel:+1 (801) 494-2098">+1 (801) 494-2098</a>
    <span id="splitter">/</span>
    <i class="nf nf-md-email"></i>
    <a href="mailto:info@theWindChill.com">info@thewindchill.com</a>
</div>
<nav id="site_header">
    <div id="main_block">
        <span id="logo_and_name">
            <i class="nf nf-fa-navicon" id="nav_icon"></i>
            <a href="/index.html" id="img_home_link">
                <img id="windchill_logo" src="/img/logo.png"> <!--- href defined in header.js --->
            </a>
            <span id="webpage_title"></span>
        </span>
        <div id="nav_icons">
            <a>
                <i class="nf nf-fa-user_tie"></i>
                Vendor Login
            </a>
            <a>
                <i class="nf nf-fa-search"></i>
                Search
            </a>
        </div>
    </div>

    <div id="nav_tabs">
        <div>
            Solutions 
            <i class="nf nf-fa-angle_down"></i>
            <div class="dropdown_content">
                <a class="option"  href="/hotAisleContainment.html">
                    Hot Aisle Containment
                </a>
                <a class="option" href="/coldAisleContainment.html">
                    Cold Aisle Containment
                </a>
                <a class="option" href="/rigidContainment.html">
                    Rigid Containment
                </a>
                <div class="option">
                    Soft Containment
                </div>
            </div>
        </div>
        <div>
            Contact 
            <i class="nf nf-fa-angle_down"></i>
            <div class="dropdown_content">
                <div class="option">
                    Get a Quote
                </div>
                <div class="option">
                    Support
                </div>
            </div>
        </div>
        <div>
            Resources 
            <i class="nf nf-fa-angle_down"></i>
            <div class="dropdown_content">
                <div class="option">
                    Install Documents
                </div>
                <div class="option">
                    Careers
                </div>
                <div class="option">
                    Industry Standards
                </div>
            </div>
        </div>
        <div>
            FAQ 
            <i class="nf nf-fa-angle_down"></i>
        </div>
    </div>
</nav>

