<div id="top_header">
    <i class="nf nf-fa-phone"></i>
    <a href="tel:+1 (801) 494-2098">+1 (801) 494-2098</a>
    <span id="splitter">/</span>
    <i class="nf nf-md-email"></i>
    <a href="mailto:info@theWindChill.com">info@thewindchill.com</a>
</div>
<nav id="site_header">
    <div id="main_block">
        <i class="nf nf-fa-navicon"></i>
        <img id="windchill_logo" src="../img/logo.png">
        Home
        <div id="nav_icons">
            <i class="nf nf-seti-code_search"></i>
            <i class="nf nf-md-phone_outline"></i>
            <i class="nf nf-md-message_text_outline"></i>
        </div>
    </div>

    <div id="nav_tabs">
        <div>
            Solutions 
            <i class="nf nf-fa-angle_down"></i>
            <div class="dropdown_content">
                <a class="option"  href="./hotAisleContainment.html">
                    Hot Aisle Containment
                </a>
                <div class="option">
                    Cold Aisle Containment
                </div>
                <div class="option">
                    Rigid Containment
                    <div class="suboption">Rigid Doors</div>
                    <div class="suboption">Rigid Walls</div>
                    <div class="suboption">Rigid Ceiling Panels</div>
                </div>
                <div class="option">
                    Soft Containment
                    <div class="suboption">Vinyl Curtains</div>
                    <div class="suboption">GapHOG</div>
                </div>
            </div>
        </div>
        <div>
            Contact 
            <i class="nf nf-fa-angle_down"></i>
            <div class="dropdown_content">
                <div class="option">
                    Get a Quote
                </div>
                <div class="option">
                    Support
                </div>
            </div>
        </div>
        <div>
            Resources 
            <i class="nf nf-fa-angle_down"></i>
            <div class="dropdown_content">
                <div class="option">
                    Install Documents
                </div>
                <div class="option">
                    Careers
                </div>
                <div class="option">
                    Industry Standards
                </div>
            </div>
        </div>
        <div>
            FAQ 
            <i class="nf nf-fa-angle_down"></i>
        </div>
    </div>
</nav>

