/backup
/config
/mysql
/img/workspaceAssets
/www/index_old.cfm
/.vscode
/www/secure/.global.password
/www/secure/.global.pepper
**-min.css
**.css.map
**-expanded.css**
/www/assets/pdfs/*
/www/assets/css/expanded
/www/assets/css/
/www/WebDocs/*