@mixin textStyle($h3-color: #5b5b5b, $h2-color: #0062B8, $p-color: #5b5b5b) {
    h3 {
        color: $h3-color;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1.17em;
        margin-bottom: .2em;
        font-weight: 600;
    }

    h2 {
        color: $h2-color;
        text-transform: uppercase;
        font-size: 2em;
        margin-block-start: 0;
        margin-block-end: 0;
        font-weight: 800;
    }

    p {
        color: $p-color;
        line-height: 1.5;
        font-size: 1.1em;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
}

@mixin sectionDefs {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

@mixin cardsFlex($h3-color) {
    display: flex;
    justify-content: space-between;
    row-gap: 40px;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 170px;

    .card {
        width: 350px;
        min-height: 450px;
        height: auto;
        border: 2px solid lightgray;
        background-color: lightgray;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.5s ease;
        
        &:hover {
            transform: scale(1.08);
        }

        .image_crop_box {
            width: 100%;
            height: 248px;
            overflow: hidden;
            position: relative;
            background-color: white;
            object-fit: cover;
            outline: 1px solid lightgray;

            img {
                width: 100%;
                height: 248px;
                object-fit: cover;
                object-position: center;
                display: block;
            }
        }

        h3 {
            font-size: 1.15em;
            font-weight: 800;
            color: $h3-color;
            text-transform: uppercase;
            padding: .5em;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        p {
            font-size: 1em;
            padding: .5em;
            line-height: 1.5;
        }
    }
}
