@use "partials/base";
@use "partials/header";

@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

#about_us_title {
    @include base.topTitle;
}

#about_us_one {
    padding-top: 75px;
    padding-bottom: 75px;
    width: 900px;
    max-width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        color: base.$windchillBlue;
        margin: 0;
        text-transform: uppercase;
    }

    p {
        line-height: 1.5;
    }
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;