@use "partials/base";
@use "partials/header";
@use "partials/contactUs";

@use "partials/footer";

@use "partials/main-heading" with (
    $color-main: base.$raspberryBlue,
    $default-order: false
);

@include base.universalStyle;
@include header.headerStyle;

.content_heading {
    img {
        background-color: base.$mainDark;
    }
}

#second_cold, #third_cold {
    border-top: 8px solid base.$windchillPurple;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: base.$backgroundLightGrey;
    @include base.paragraphSpans($primary: base.$mainDark, $secondary: base.$raspberryBlue);

    .double_span {
        margin-top: 2.5em;
        margin-bottom: 1.25em;
        padding-bottom: 1.25em;
        border-bottom: 2px solid base.$raspberryBlue;
    }
}

#third_cold {
    border-color: base.$windchillYellow;
    background-color: white;
}

#flex_third_cold {
    @include base.cardsFlex(base.$raspberryBlue);
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;