@use "partials/base";
$accent-color: base.$raspberryBlue;
@use "partials/header";
@use "partials/contactUs";

@use "partials/footer";

@use "partials/main-heading" with (
    $color-main: $accent-color,
    $default-order: false
);

@include base.universalStyle;
@include header.headerStyle;

.text_heading .button_flex #find_out:hover {
    background-color: base.$hover-raspberryBlue;
    color: white;
}

.content_heading {
    img {
        background-color: base.$mainDark;
    }
}

#second_cold, #third_cold {
    border-top: 8px solid base.$windchillPurple;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: base.$backgroundLightGrey;
    @include base.paragraphSpans($primary: base.$mainDark, $secondary: $accent-color);

    .double_span {
        margin-top: 2.5em;
        margin-bottom: 1.25em;
        padding-bottom: 1.25em;
        border-bottom: 2px solid $accent-color;
    }
}

#third_cold {
    border-color: base.$windchillYellow;
    background-color: white;
}

#flex_third_cold {
    @include base.cardsDisplay($accent-color);
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;