@use "partials/base";
@use "partials/header";

@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

#quote_one {
    @include base.topTitle;
}

#quote_two {
    margin-top: 75px;
    margin-bottom: 75px;
    @include base.paragraphSpans($primary: base.$mainDark, $secondary: base.$windchillBlue);

    // display: block;

    #contact_us_foo {
        margin-top: 2.5rem;
        a {
            text-decoration: none;
        }
    }

    a {
        color: white;
        padding: .75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 1.25rem;
        background-color: base.$raspberryBlue;
        margin-right: .5rem;
        cursor: pointer;
        transition: background-color 250ms;

        &:hover {
            background-color: base.$hover-raspberryBlue;
        }


        &:last-child {
            background-color: base.$mainDark;
            margin-right: 0;

            &:hover {
                background-color: base.$hover-mainDark;
            }
        }
    }
}


@include contactUs.contactUsStyle;
@include footer.footerStyle;