@use "partials/base";
@use "partials/header";

@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

section.contact {

    @include base.paragraphSpans($primary: white, $secondary: base.$raspberryBlue);
    position: relative;

    #filter_card {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background-color: rgba(17, 0, 255, 0.2);

        .single_span {
            display: block;
            max-width: 50ch;
            width: 80%;
            margin-top: 30px;

            h3 {
                font-size: 1.5rem;
            }
            h2 {
                font-size: 2rem;
                border-bottom: 4px solid base.$windchillYellow;
            }
            p {
                font-size: 1.3rem;
            }

            * {
                font-weight: 800 !important;
            }
        }
    }

    #buttons {
        button {
            border: 4px solid base.$windchillYellow;
            outline: none;
            background: none;
            padding: 1rem;
            font-size: 1.3rem;
            color: white;
            font-weight: 800;
        }
    }

    // overflow: hidden;
    // height: 500px;

    /*
    .image_crop {
        overflow: hidden;
        display: block;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
        }
    }
    */

    .image_crop {
        z-index: 2;
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;