@use "partials/base";
@use "partials/header";
@use "partials/main-heading" with (
    $color-main: base.$windchillPurple,
    $default-order: false
);
@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;


.content_heading {
    img {
        background-color: base.$mainDark;
    }
}

#second_hot { 
    background-color: base.$backgroundLightGrey;
    border-top: 8px solid base.$windchillYellow;
    padding-top: 75px;
    padding-bottom: 75px;
    @include base.paragraphSpans($primary: base.$mainDark, $secondary: base.$windchillPurple);

    h2 {
        font-weight: 400;
    }

    .double_span {
        margin-top: 2.5rem;
        margin-bottom: 1.25rem;
        padding-bottom: 1.25rem;
        border-bottom: 2px solid base.$windchillPurple;
    }
}

#third_hot {
    border-top: 8px solid #7583b0;
    @include base.paragraphSpans($primary: base.$mainDark, $secondary: base.$windchillPurple);
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: white;

    h2 {
        font-weight: 400;
    }

    & > h2, & > h3 {
        margin-left: 10%;
    } 
}

#flex_third_hot {
    @include base.cardsFlex($h3-color: base.$windchillPurple, $border-color: base.$windchillPurple);
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;