@use "partials/main-heading";
@use "partials/base";
@use "partials/header";
@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;

#contact_button {
    background: base.$windchillBlue;
    color: white;

    &:hover {
        background-color: base.$raspberryBlue;
        border-color: base.$raspberryBlue;
    }
}

#learn_button {
    background-color: white;
    color: base.$windchillBlue;

    &:hover {
        background-color: base.$raspberryBlue;
        border-color: base.$raspberryBlue;
        color: white;
    }
}


div.arrow {
    text-align: center;

}

#first_content, #second_content, #third_content, h3#third_content_h3, h2#third_content_h3 {
    position: relative;
    z-index: 1;
}

#second_content {
    position: relative;
    background-color: base.$backgroundLightGrey;
    overflow: hidden;

    h2 {
        color: base.$windchillBlue;
        padding-top: 50px;
        font-size: 2.2em;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }

    h3 {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    @keyframes slide {
      from { left: 0; }
      to {
        left: 100%;
        transform: translateX(-125%);
      }
    }

}
#spacing_client_list {
    height: 300px;

} 
#client_list {
    position: absolute;
    left:0;
    animation: 70s linear 0s slide infinite;
    display: flex;
    gap: 1.2%;
    width: min-content;

    img {
        align-self: center;
        flex-shrink: 0;
        flex-grow: 0;
    }
}

#text_content {
    border-top: 8px solid base.$windchillPurple;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: base.$mainDark;

    @include base.paragraphSpans($primary: white, $secondary: base.$raspberryBlue);

    .single_span, .double_span {
        margin-bottom: 2.5rem;
    }    
}

#stats_card {

    color: base.$mainDark;
    position: relative;
    z-index: 2;
    background-color: white;
    margin-left: calc(10% - 3rem);
    width: 80%;
    padding: 3rem;
    border-radius: 20px;
    margin-bottom: -250px;
    

    & > h3, & > h2 {
        text-align: center;
    }

    & > h3 {
        color: base.$mainDark;
    }

    #icon_content_flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 3em;
        column-gap: 3em;
        justify-content: space-around;
        margin-top: 75px;        
        
        & > div {
            display: flex;
            max-width: 28ch;
            min-width: 15ch;
            flex-direction: column;
            align-items: center;
            text-align: center;
            flex: 1 1 15ch;
        }

        .svg_icon {
            display: flex;
            padding: .75rem;
            border-radius: 50%;
            background-color: lightgrey;
            margin-bottom: 1em;
            // border: 3px solid white;
            img {
                width: 2rem;
                color: white;
            }
        }

        p {
            margin:0;
            font-weight: 400;
            color: base.$mainDark;
        }

        h1 {
            color: base.$windchillBlue;
            font-size: 3rem;
            margin: 0;
        }

        h2 {
            color: base.$windchillBlue;
        }

        h3 {
            text-transform: none !important;
            text-align: center;
            margin-top: .5em;
            margin-bottom: .5em;
            text-transform: uppercase;
            font-weight: 600;
            width: 100%;
            color: base.$mainDark;

        }
    }
}


#third_content {
    position: relative;
    border-top: 8px solid base.$windchillYellow;
    padding-top: 250px;
    padding-bottom: 75px;
    background-color: base.$backgroundLightGrey;

    @include base.paragraphSpans;
    
    #third_cards_flex {
        @include base.cardsFlex($h3-color: base.$windchillBlue);
    }
}


#fourth_content {
    padding-top: 200px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 700px;
    background-color: base.$mainDark;
    color: white;
    font-family: "Sansation", sans-serif;
}

#fourth_content #cards_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#fourth_content .product_card {
    width: 250px;
}

#fourth_content .image_crop_box {
    width: 100%;
    height: 50%;
}

@media (max-width: 1600px) {

    #third_cards_flex {
        justify-content: space-evenly;
    }

}

@media (max-width: 1100px) {

    #first_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }    

    #video_div {
        width: 90%;
        height: 60%;
    }

    #sub_content_flex {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 650px) {
    #learn_buttons {
        flex-direction: column;
        gap: 2em;
        width: 100%;
    }

    #icon_content_flex {
        justify-content: center;
        width: 100%;
    }

    #second_content img {
        transform: scale(0.75);
    }

    #spacing_client_list {
        height: 250px;;
    }

    #client_list {
        gap: .1%;
        animation: 80s linear 0s slide infinite;
    }
}

@include footer.footerStyle;