@use "partials/base";
@use "partials/header";
@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

#references {
    margin-left: 10%;
    width: 80%;
    padding-top: 75px;
    margin-bottom: 75px;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .item_foo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .index {
        background-color: base.$windchillBlue;
        color: white;
        font-weight: 600;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .3rem;
    }
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;