@use "partials/base";
@use "partials/header";
@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

#references {
    margin-left: 10%;
    width: 80%;
    padding-top: 75px;
    margin-bottom: 75px;

    display: flex;
    flex-direction: column;
    gap:1em;
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;