@use "partials/base";
$accent-color: base.$windchillYellow; 
@use "partials/header";
@use "partials/main-heading" with (
    $color-main: $accent-color
);

@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

#contact_button:hover {
    color: white !important;
    background-color: base.$windchillYellowLight !important;
}

.content_heading {
    background: #ffebc9;
    background: radial-gradient(circle,rgba(255, 235, 201, 1) 0%, rgba(244, 184, 96, 1) 100%);
}

.image_crop_box {
    background-color: white;
}
.card p {
    color: white !important;
}

#rigid_second {
    padding-top: 75px;
}

#rigid_second, #rigid_third, #rigid_fourth {
    background-color: base.$mainDark;
    @include base.paragraphSpans($primary: white, $secondary: $accent-color);

    .double_span li span {
        color: white !important;
    }
    .flex_rigid {
        @include base.cardsDisplay($accent-color);
        .card {
            cursor: default !important;
        }

        .image_crop_box img {
            height: 100% !important;
            width: auto !important;
            margin: 0 auto;
        }
    }
}

#rigid_second {
    //border-top: 8px solid base.$windchillBlue;
    //background-color: base.$backgroundLightGrey;
}

#rigid_third {
    /*
    background-color: base.$mainDark;
    border-top: 8px solid base.$raspberryBlue;
    h3:not(.card h3), p:not(.card p), .nf {
        color: white !important;
    }
        */
}

#rigid_fourth {
    //border-top: 8px solid base.$windchillPurple;
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;