@use "partials/base";
@use "partials/header";
@use "partials/main-heading" with (
    $color-main: base.$windchillYellow
);

@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

.content_heading {
    background: #ffebc9;
    background: radial-gradient(circle,rgba(255, 235, 201, 1) 0%, rgba(244, 184, 96, 1) 100%);
}


#rigid_second, #rigid_third, #rigid_fourth {
    padding-top: 75px;
    padding-bottom: 75px;
    @include base.paragraphSpans($secondary: base.$windchillYellow);

    .flex_rigid {
        @include base.cardsFlex($h3-color: base.$windchillYellow, $border-color: base.$windchillBlue);
        justify-content: start;
        gap: 20px;
        .card {
            cursor: default !important;
        }

        .image_crop_box img {
            height: 100% !important;
            width: auto !important;
            margin: 0 auto;
        }
    }
}

#rigid_second {
    border-top: 8px solid base.$windchillBlue;
    background-color: base.$backgroundLightGrey;
}

#rigid_third {
    background-color: base.$mainDark;
    border-top: 8px solid base.$raspberryBlue;
    h3:not(.card h3), p:not(.card p), .nf {
        color: white !important;
    }
}

#rigid_fourth {
    border-top: 8px solid base.$windchillPurple;
}

@include contactUs.contactUsStyle;
@include footer.footerStyle;