$green: #75B09C;
@use "partials/base";
@use "partials/header";
@use "partials/main-heading" with (
    $color-main: $green
);

@use "partials/contactUs";
@use "partials/footer";

.content_heading {
    background: #cccccc;
    background: radial-gradient(circle,#cccccc 0%, rgb(167, 167, 167) 100%);
}

#soft_second {
    @include base.paragraphSpans($primary: white, $secondary: $green);
}

#soft_second {
    border-top: 8px solid base.$windchillBlue;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: base.$mainDark;

    .double_span {
        width: 80%;
    }

    .has_img {
        display: grid;
        grid-template-areas: "bar foo foo"
                             "biz foo foo";

        justify-content: end;
        $fizz: 180px;

        gap: $fizz / 6;

        grid-template-rows: $fizz $fizz;

        grid-template-columns: $fizz $fizz $fizz;

        img.foo {
            grid-area: foo;
        }

        img.bar {
            grid-area: bar;
        }

        img.biz {
            grid-area: biz;
        }

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            height: min-content;
            object-fit: contain;
            display: block;
        }
    }
}

@include base.universalStyle;
@include header.headerStyle;


@include contactUs.contactUsStyle;
@include footer.footerStyle;