$green: #75B09C;
$hover-green: #b1e5d3;
@use "partials/base";
@use "partials/header";
@use "partials/main-heading" with (
    $color-main: $green
);

@use "partials/contactUs";
@use "partials/footer";

#contact_button:hover {
    color: white !important;
    background-color: $hover-green !important;
}

.content_heading {
    background: #cccccc;
    background: radial-gradient(circle,#cccccc 0%, rgb(167, 167, 167) 100%);
}

#soft_second {
    @include base.paragraphSpans($primary: white, $secondary: $green);
}

#soft_second {
    border-top: 8px solid base.$windchillBlue;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: base.$mainDark;

    .double_span {
        width: 80%;
    }

    .has_img {
        display: grid;
        grid-template-areas: "bar foo foo"
                             "biz foo foo";

        justify-content: end;
        $fizz: 1fr;
        max-width: 550px;
        height: min-content;

        gap: 20px;

        grid-template-rows: $fizz $fizz;

        grid-template-columns: $fizz $fizz $fizz;

        img.foo {
            grid-area: foo;
        }

        img.bar {
            grid-area: bar;
        }

        img.biz {
            grid-area: biz;
        }

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            height: min-content;
            object-fit: contain;
            display: block;
        }
    }
}

@media (max-width: 1200px) {

    #soft_second .has_img {
        display: grid;
        grid-template-areas: "bar biz"
                             "foo foo"
                             "foo foo";

        justify-content: end;
        $fizz: 1fr;
        height: min-content;
        max-width: 350px;

        grid-template-rows: $fizz $fizz $fizz;

        grid-template-columns: $fizz $fizz;

        img.foo {
            grid-area: foo;
        }

        img.bar {
            grid-area: bar;
        }

        img.biz {
            grid-area: biz;
        }
    }
}

@media (max-width: 800px) {
    #soft_second .double_span {
        justify-content: center;
    }
};

@media (max-width: 500px) {
    #soft_second .double_span {
        width: 90%;
    }
}

@include base.universalStyle;
@include header.headerStyle;


@include contactUs.contactUsStyle;
@include footer.footerStyle;