@use "partials/base";
@use "partials/header";

@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

#standards_one {
    @include base.topTitle;
}

body {
    background-color: #f8fcff;
}

h1.sub_title {
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    color: base.$mainDark;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}


.links_main {
    display: grid;
    grid-template-columns: 1fr; // 1 column on mobile
    justify-items: center;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    column-gap: 2rem;
    row-gap: 3rem;

    padding-bottom: 4rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr); // 2 columns on tablet
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr); // 3 columns on desktop
    }

    div {
        display: grid;
        grid-template-rows: 2fr 1fr;
        //box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        max-width: 90vw;
        width: 90%;
        padding: 1rem;
        min-height: 8.2rem;
        border-radius: .4rem;
        background-color: white;
    }

    h2{
        color: base.$windchillBlue;
        word-wrap: break-word;

    }


    a {
        display: block;
        width: max-content;
        height: max-content;
        text-decoration: none;
        padding: .75rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: .4rem;
        color: white;
        background-color: base.$mainDark;
        &:hover {
            background-color: base.$hover-mainDark;
        }

        .nf {
            margin-left: .5rem;
        }
    }

}



@include contactUs.contactUsStyle;
@include footer.footerStyle;