@use "partials/base";
@use "partials/header";

@use "partials/contactUs";
@use "partials/footer";

@include base.universalStyle;
@include header.headerStyle;

#standards_one {
    @include base.topTitle;
}

#links_main {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 900px;
    max-width: 90%;
    margin: 0 auto;



    h2 {
        color: base.$windchillBlue;
    }

    a {
        text-decoration: none;
        padding: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        background-color: base.$mainDark;
        &:hover {
            background-color: base.$hover-mainDark;
        }

        .nf {
            margin-left: .5rem;
        }
    }

}

@include contactUs.contactUsStyle;
@include footer.footerStyle;